@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@font-face {
  font-family: 'Canvas';
  src: url('../../fonts/MADE\ Canvas\ Black\ PERSONAL\ USE.otf') format('otf'),
    url('../../fonts/MADE-Canvas-Black-PERSONAL-USE.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$fontBase: 'Playfair Display', serif;
$textFont: 'Roboto', sans-serif;
$secondFont: Canvas, sans-serif;
