@import 'src/scss/settings/colors';

@mixin desktopTwo() {
  @media (max-width: 1650px) {
    @content;
  }
}

@mixin desktopThree() {
  @media (max-width: 1450px) {
    @content;
  }
}

@mixin tabletMax() {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin tabletMin() {
  @media (max-width: 921px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobileMin() {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin animationAppearing($time) {
  animation: appearng $time forwards;
  @keyframes appearng {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin animationDisappearing($time) {
  animation: disappearing $time forwards;
  @keyframes disappearing {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@mixin letterMove(
  $time,
  $startPosition,
  $endPosition,
  $startCondition,
  $endCondition
) {
  animation: move $time forwards;
  @keyframes move {
    0% {
      bottom: $startPosition;
      opacity: $startCondition;
    }
    50% {
      opacity: $endCondition;
    }
    100% {
      bottom: $endPosition;
      opacity: $endCondition;
    }
  }
}


// @mixin movingBackground() {
//   position: absolute;
//   content: '';
//   top: calc(-1 * 3px);
//   left: calc(-1 * 3px);
//   z-index: 1;
//   width: calc(100% + 6px);
//   height: calc(100% + 6px);
//   background: linear-gradient(
//     60deg,
//     hsl(0, 0%, 100%),
//     hsl(49, 89%, 50%),
//     hsl(0, 0%, 100%),
//     hsl(49, 89%, 50%)
//   );
//   background-size: 300% 300%;
//   background-position: 0 50%;
//   animation: moveGradient 4s alternate infinite;
// }
// @keyframes moveGradient {
//   50% {
//     background-position: 100% 50%;
//   }
// }
