@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';
@import '../../scss/settings/mixins';
.about-us-container {
  width: 100%;
  height: 110rem;
  background-color: $aboutUsBackground;
  .main-section {
    padding: 2rem 0 0 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: $textFont;
    font-weight: 300;
  }
  .box-section {
    width: 31rem;
    height: 31rem;
    margin: 0 1.3rem 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 6s;
    }
  }
  .header-about-us {
    .letter-section {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      .letter-holder {
        width: 25rem;
        height: 7rem;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
        animation-fill-mode: forwards;
      }
      .first-a {
        background-image: url('../../assets/aboutUsTextA.png');
        animation: greyLetterDown1 1.5s forwards;
      }
      .first-b {
        background-image: url('../../assets/aboutUsTextB.png');
        opacity: 0;
        animation: goldLetterDown1 1.5s forwards;
      }
    }
    .btn-section {
      position: absolute;
      top: 20rem;
      left: 9rem;
      display: none;
    }
    .second-box {
      padding-left: 1.4rem;
      display: flex;
      flex: 1;
      justify-content: center;
      background-color: transparent;
      text-align: left;
      font-size: 1.6rem;
      line-height: 2.6rem;
      color: $fontColor;
    }
  }
  .first-box:hover {
    .btn-section {
      display: inline-block;
      @include animationAppearing(1s);
    }
    .letter-section {
      .first-a {
        background-image: url('../../assets/aboutUsTextA.png');
        opacity: 0;
        @include letterMove(1.5s, 0, 24rem, 1, 0);
      }
      .first-b {
        background-image: url('../../assets/aboutUsTextB.png');
        opacity: 1;
        @include letterMove(1.5s, 0, 24rem, 0, 1);
      }
    }
  }
  .slogan-container {
    width: 100%;
    height: 4.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: $fontColor;
    h1 {
      padding-left: 4.5rem;
    }
  }
  .about-us-content {
    .content-box {
      margin-bottom: 3rem;
      position: relative;
      border: 4px solid transparent;
      &:hover {
        @include goldHover;
      }
      .text-box {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 3s;
        .text-holder {
          width: 95%;
          height: 95%;
          position: absolute;
          top: 2.5%;
          left: 2.5%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          line-height: 2.5rem;
          align-items: center;
          opacity: 0;
          p {
            width: 80%;
            font-size: 1.4rem;
            font-weight: 400;
            color: $fontColor;
          }
        }
      }
      &:hover {
        .text-box {
          transform: scale(1.2);
          .text-holder {
            opacity: 1;
            @include animationAppearing(0.8s);
            animation-delay: 0;
            background: rgba(10, 32, 12, 0.3);
          }
        }
      }
      .first {
        background-image: url('../../assets/aboutUsSecond.jpg');
        &:hover {
          background-image: url('../../assets/aboutUsSecondB.jpg');
        }
      }
      .second {
        background-image: url('../../assets/aboutUsFourth.jpg');
        &:hover {
          background-image: url('../../assets/aboutUsFourthB.jpg');
        }
      }
      .third {
        background-image: url('../../assets/aboutUsFifth.jpg');
        &:hover {
          background-image: url('../../assets/aboutUsFifthB.jpg');
        }
      }
      .foruth {
        background-image: url('../../assets/aboutUsSix.jpg');
        &:hover {
          background-image: url('../../assets/aboutUsSixB.jpg');
        }
      }
      .fifth {
        background-image: url('../../assets/aboutUsSeventh.jpg');
        &:hover {
          background-image: url('../../assets/aboutUsSeventhB.jpg');
        }
      }
      .six {
        background-image: url('../../assets/aboutUsThird.jpg');
        &:hover {
          background-image: url('../../assets/aboutUsThirdB.jpg');
        }
      }
    }
  }
}
@keyframes goldLetterDown1 {
  0% {
    bottom: 90%;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes greyLetterDown1 {
  0% {
    bottom: 90%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@include desktopTwo {
  .about-us-container {
    height: 92rem;
    padding-top: 1rem;
    .main-section {
      padding: 0;
    }
    .box-section {
      width: 27rem;
      height: 27rem;
    }
    .header-about-us {
      .letter-section {
        .letter-holder {
          width: 15rem;
          height: 4rem;
        }
      }
      .btn-section {
        left: 7.5rem;
      }
      .second-box {
        font-size: 1.5rem;
        line-height: 2.1rem;
        p {
          width: 95%;
        }
      }
    }
    .first-box:hover {
      .letter-section {
        .first-a {
          @include letterMove(1.5s, 0, 23rem, 1, 0);
        }
        .first-b {
          @include letterMove(1.5s, 0, 23rem, 0, 1);
        }
      }
    }
    .slogan-container {
      h1 {
        padding-left: 1.5rem;
      }
    }
  }
}
@include desktopThree {
  .about-us-container {
    height: 73rem;
    .box-section {
      width: 21rem;
      height: 21rem;
    }
    .header-about-us {
      .letter-section {
        @include letterMove(1.5s, 0, 17rem, 1, 0);
      }
      .first-b {
        @include letterMove(1.5s, 0, 17rem, 0, 1);
      }
      .second-box {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .slogan-container {
      font-size: 2.5rem;
    }
    .about-us-content {
      .content-box {
        .text-box {
          .text-holder {
            p {
              font-size: 1.5rem;
              line-height: 1.8rem;
            }
          }
        }
      }
    }
  }
}

@include tabletMax {
  .about-us-container {
    height: 115rem;
    .box-section {
      width: 25rem;
      height: 25rem;
    }
    .header-about-us {
      .letter-section {
        @include letterMove(1.5s, 0, 21rem, 1, 0);
      }
      .first-b {
        @include letterMove(1.5s, 0, 21rem, 0, 1);
      }
      .second-box {
        font-size: 1rem;
      }
      .btn-section {
        left: 6.5rem;
        top: 15rem;
      }
    }
    .first-box:hover {
      .letter-section {
        .first-a {
          @include letterMove(1.5s, 0, 21rem, 1, 0);
        }
        .first-b {
          @include letterMove(1.5s, 0, 21rem, 0, 1);
        }
      }
    }
    .about-us-content {
      .content-box {
        .text-box {
          .text-holder {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@include tabletMin {
  .about-us-container {
    height: 95rem;
    .box-section {
      width: 20rem;
      height: 20rem;
    }
    .header-about-us {
      .letter-section {
        .letter-holder {
          width: 12rem;
          height: 4rem;
        }
      }
      .letter-section {
        @include letterMove(1.5s, 0, 16rem, 1, 0);
      }
      .first-b {
        @include letterMove(1.5s, 0, 16rem, 0, 1);
      }
      .second-box {
        font-size: 0.9rem;
        line-height: 1.1rem;
      }
      .btn-section {
        left: 4rem;
        top: 12rem;
      }
    }
    .first-box:hover {
      .letter-section {
        .first-a {
          @include letterMove(1.5s, 0, 16rem, 1, 0);
        }
        .first-b {
          @include letterMove(1.5s, 0, 16rem, 0, 1);
        }
      }
    }
    .about-us-content {
      .content-box {
        .text-box {
          .text-holder {
            p {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .about-us-container {
    height: 265rem;
    .box-section {
      width: 30rem;
      height: 30rem;
      margin: 0 auto;
    }
    .first-box {
      margin-top: 3rem;
    }

    .header-about-us {
      &:nth-child(1) {
        flex-direction: column;
        .letter-section {
          .letter-holder {
            width: 25rem;
            height: 6rem;
          }
        }
        .btn-section {
          left: 10rem;
        }
        .second-box {
          font-size: 1.2rem;
          line-height: 1.7rem;
          p {
            padding-top: 1rem;
            font-size: 1rem;
          }
        }
      }
    }
    .first-box:hover {
      .letter-section {
        .first-a {
          @include letterMove(1.5s, 0, 24rem, 1, 0);
        }
        .first-b {
          @include letterMove(1.5s, 0, 24rem, 0, 1);
        }
      }
    }
    .about-us-content {
      .content-box {
        .text-box {
          .text-holder {
            p {
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@include mobileMin {
  .about-us-container {
    height: 268rem;
    .box-section {
      width: 17rem;
      height: 30rem;
    }

    .header-about-us {
      &:nth-child(1) {
        flex-direction: column;
        .letter-section {
          .letter-holder {
            width: 10rem;
            height: 3rem;
          }
        }
        .btn-section {
          left: 2.5rem;
        }
        .second-box {
          font-size: 1rem;
          line-height: 1.2rem;
          p {
            padding-top: 1rem;
          }
        }
      }
    }
    .first-box:hover {
      .letter-section {
        .first-a {
          @include letterMove(1.5s, 0, 27rem, 1, 0);
        }
        .first-b {
          @include letterMove(1.5s, 0, 27rem, 0, 1);
        }
      }
    }
  }
}
