@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';
@import '../../scss/settings/mixins';

.divisions-container {
  width: 100%;
  height: 52rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .box {
    width: 20%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    .title-section {
      height: 1.5rem;
      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2rem;
        width: 90%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .firstT {
        opacity: 1;
        animation: greyDown 1s forwards;
      }
      .secondT {
        opacity: 0;
        animation: goldDown 1s forwards;
      }
    }
    .text-section {
      width: 100%;
      text-align: center;
      font-family: $textFont;
      font-size: 1.5rem;
      color: $fontColor;
      opacity: 0;
      @include gradientBlack;
      p {
        width: 80%;
        margin: 0 auto;
      }
      .btn-section {
        width: 100%;
        position: absolute;
        bottom: 5rem;
        img {
          width: 80%;
        }
      }
    }
    &:hover {
      .text-section {
        animation: showText 1s forwards;
        animation-delay: 1s;
      }
      .title-section {
        .firstT {
          animation: greyUp 1.5s forwards;
        }
        .secondT {
          animation: goldUp 1.5s forwards;
        }
      }
    }
  }

  .first {
    background-image: url('../../assets/divSalesBg.jpg');
    .title-section {
      height: 1.7rem;
      .firstT {
        background-image: url('../../assets/salesTitle.svg');
      }
      .secondT {
        background-image: url('../../assets/salesTitleG.svg');
      }
    }
    &:hover {
      background-image: url('../../assets/divSalesMpr.jpg');
    }
  }

  .second {
    background-image: url('../../assets/divEnergeticBg.jpg');
    .title-section {
      .firstT {
        background-image: url('../../assets/energeticTitle.svg');
      }
      .secondT {
        background-image: url('../../assets/energeticTitleG.svg');
      }
    }

    &:hover {
      background-image: url('../../assets/divEnergeticMpr.jpg');
    }
  }
  .third {
    background-image: url('../../assets/divPhotovoltaicsBg.jpg');
    .title-section {
      .firstT {
        background-image: url('../../assets/photovoltaicsTitle.svg');
      }
      .secondT {
        background-image: url('../../assets/photovoltaicsTitleG.svg');
      }
    }
    &:hover {
      background-image: url('../../assets/divPhotovoltaicsMpr.jpg');
    }
  }
  .forth {
    background-image: url('../../assets/divInteractiveBg.jpg');
    .title-section {
      .firstT {
        background-image: url('../../assets/interactiveTitle.svg');
      }
      .secondT {
        background-image: url('../../assets/interactiveTitleG.svg');
      }
    }
    &:hover {
      background-image: url('../../assets/divInteractiveMpr.jpg');
    }
  }
  .fifth {
    background-image: url('../../assets/divCharityBg.jpg');
    .title-section {
      .firstT {
        background-image: url('../../assets/charityTitle.svg');
      }
      .secondT {
        background-image: url('../../assets/charityTitleG.svg');
      }
    }
    &:hover {
      background-image: url('../../assets/divCharityMpr.jpg');
    }
  }
}

@keyframes greyUp {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 90%;
    opacity: 0;
  }
}

@keyframes goldUp {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 90%;
    opacity: 1;
  }
}

@keyframes greyDown {
  0% {
    bottom: 90%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes goldDown {
  0% {
    bottom: 90%;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include desktopTwo() {
  .divisions-container {
    .box {
      .text-section {
        font-size: 1.3rem;
      }
    }
  }
}

@include desktopThree() {
  .divisions-container {
    .box {
      .text-section {
        font-size: 1.2rem;
      }
    }
  }
}

@include tabletMax() {
  .divisions-container {
    .box {
      .text-section {
        font-size: 1.1rem;
      }
    }
  }
}

@include tabletMin() {
  .divisions-container {
    height: 250rem;
    flex-direction: column;
    .box {
      width: 100%;
      height: 50rem;
      background-size: 100%;
      background-position: top;
      background-repeat: no-repeat;
    }
  }
}

@include mobileMin() {
  .divisions-container {
    height: 250rem;
    flex-direction: column;
    .box {
      width: 100%;
      height: 50rem;
      background-size: 120%;
      background-position: top;
      background-repeat: no-repeat;
      .title-section {
        height: 1.5rem;
        .title {
          height: 2rem;
          width: 80%;
        }
      }
      .text-section {
        font-size: 1.3rem;
      }
    }
  }
}
