@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';
@import '../../scss/settings/mixins';

.divisions-container {
  width: 100%;
  height: 52rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .main-section {
    width: 20%;
    height: 100%;
    position: relative;
    .bg-section {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 3;
    }
    .title-section {
      position: absolute;
      top: 15%;
      left: 20%;
      width: 15rem;
      height: 5rem;
    }
    &:nth-child(2) {
      h1 {
        top: 30%;
      }
    }
    &:nth-child(3) {
      h1 {
        top: 50%;
      }
    }
    &:nth-child(4) {
      h1 {
        top: 70%;
      }
    }
    &:nth-child(5) {
      h1 {
        top: 90%;
      }
    }
  }
}
