@import '../../scss/settings/mixins';
@import '../../scss/settings/fonts';
@import '../../scss/settings/colors';

.logo-container {
  width: 55%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 10rem;
    height: 3rem;
    margin-left: 2rem;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $fontColor;
  }
}

@include mobile {
  .logo-container {
    width: 100%;
    img {
      margin-left: 0.5rem;
    }
  }
}
