@import '../../scss/settings/mixins';
@import '../../scss/settings/fonts';
@import '../../scss/settings/colors';

.logo-container {
  width: 100%;
  height: 3rem;
  background-color: $logoBackground;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    position: absolute;
    top: 0;
    left: 2rem;
    font-size: 3rem;
    color: gold;
    span {
      font-size: 1.5rem;
    }
  }
  a {
    text-decoration: none;
  }
  h2 {
    width: 20rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $fontColor;
  }
}
