@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.dropdownContainer {
  .dropdownMenu {
    width: 13rem;
    position: absolute;
    top: 6.2rem;
    display: inline-block;
    list-style: none;
    text-align: start;
    z-index: 200;
    .dropdownLink {
      width: 100%;
      padding: 1.5rem;
      display: block;
      color: $fontColor;
      z-index: 300;
      background-color: black;
      text-decoration: none;
      text-transform: capitalize;
      &:hover {
        color: $hoverColor;
      }
    }
  }
  .dropdownMenu.open {
    display: none;
  }
}
