@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.dropdown-container {
  .dropdown-menu {
    width: 13rem;
    position: absolute;
    top: 2.5rem;
    left: 16rem;
    display: inline-block;
    list-style: none;
    text-align: start;
    z-index: 200;
    background-color: black;
    .dropdown-link {
      width: 100%;
      padding: 1.5rem;
      display: block;
      color: $fontColor;
      z-index: 300;
      text-decoration: none;
      &:hover {
        color: $hoverColor;
      }
    }
  }
  .dropdown-menu.open {
    display: none;
  }
}

@include mobile {
  .dropdown-container {
    display: none;
  }
}
