@import 'src/scss/settings/mixins';

.headerContainer {
  width: 100%;
  background-color: black;
  z-index: 300;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-size: cover;
  }
}
// @include mobile {
//   .headerContainer {
//     position: fixed;
//     max-height: 7rem;
//     top: 0;
//     left: 0;
//     display: flex;
//     background-color: red;
//     .navbar {
//       margin-top: 7rem;
//       position: relative;
//       transition: 1s ease;
//     }
//   }
//   .activeHeader {
//     .navbar {
//       margin-top: 0rem;
//     }
//   }
// }
