@import 'src/scss/settings/mixins';

.headerLinks {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  .navItem {
    height: 6rem;
    padding: 1.2rem 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    .navLinks {
      width: 100%;
      padding: 1rem 2rem;
      display: inline-block;
      color: orangered;
      i {
        margin-left: 0.3rem;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
