@import '../../scss/settings/mixins';
@import '../../scss/settings/colors';

.header-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
  .nav-item {
    font-size: 1.5rem;
    cursor: pointer;
    .nav-links {
      width: 100%;
      display: inline-block;
      color: $fontColor;
      text-decoration: none;
      img {
        margin-left: 0.3rem;
        width: 0.8rem;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@include tabletMax {
  .header-links {
    .nav-item {
      font-size: 1.2rem;
    }
  }
}

@include mobile {
  .header-links {
    width: 60%;
    height: 20rem;
    padding: 0;
    position: absolute;
    top: 4rem;
    left: -100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    transition: all 0.5s ease;
    .nav-item {
      margin: 0 1rem;
      font-size: 1.5rem;
      img {
        display: none;
      }
    }
  }
  .header-links.active {
    left: 40%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
}
