@import '../../scss/settings/colors';

.button-contact-container {
  .button-holder {
    width: 14rem;
    height: 3rem;
    display: block;
    position: relative;
    margin: 1.5rem auto 0;
    overflow: hidden;
    border: 1px solid $fontColor;
    background: transparent;
    color: $fontColor;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 1px 0px $contactButtonBoxShadow;
    -moz-box-shadow: inset 0px 1px 1px 0px $contactButtonBoxShadow;
    box-shadow: inset 0px 1px 1px 0px $contactButtonBoxShadow;
    span.text {
      position: absolute;
      top: 0.8rem;
      left: 5.5rem;
      font-size: 1rem;
    }
    span.shine {
      content: '';
      position: absolute;
      height: 40rem;
      width: 10rem;
      background: white;
      top: -8rem;
      right: -25rem;
      display: block;
      opacity: 0.8;
      -webkit-box-shadow: 0px 0px 20px 10px white;
      -moz-box-shadow: 0px 0px 20px 10px white;
      box-shadow: 0px 0px 20px 10px white;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);

      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    &:active {
      -webkit-box-shadow: inset 0px 1px 15px 0px rgba(0, 0, 0, 0.4),
        inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0 rgba(255, 255, 255, 0.5);
      -moz-box-shadow: inset 0px 1px 15px 0px rgba(0, 0, 0, 0.4),
        inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0 rgba(255, 255, 255, 0.5);
      box-shadow: inset 0px 1px 15px 0px rgba(0, 0, 0, 0.4),
        inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0 rgba(255, 255, 255, 0.5);
    }
    &:hover span.shine {
      right: 37rem;
      top: -20rem;
    }
  }
}
