@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';
.form-container {
  width: 50%;
  position: absolute;
  right: 10rem;
  top: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
