@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';
.form-container {
  width: 60rem;
  margin-left: 35%;
  display: flex;
  justify-content: center;
}

@include desktopThree {
  .form-container {
    width: 50rem;
    margin-left: 35%;
  }
}

@include tabletMax {
  .form-container {
    margin-left: 0%;
  }
}

@include tabletMin {
  .form-container {
    width: 40rem;
  }
}

@include mobile {
  .form-container {
    margin-top: 10rem;
    width: 30rem;
  }
}

@include mobileMin {
  .form-container {
    width: 20rem;
  }
}
