@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';

.input-holder {
  display: flex;
  width: 51rem;
  height: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  input {
    &::placeholder {
      text-align: center;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-family: $fontBase;
      text-transform: uppercase;
    }
  }
}
