@import '../../scss/settings/colors';

.termsContainer {
  width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .checkbox {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
    }
  }
  .checkMark {
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    background-color: Transparent;
    border: 1px solid $fontColor;
    text-align: center;
    span {
      width: 1rem;
      height: 0.1rem;
      position: absolute;
      top: 0.45rem;
      left: 0.01rem;
      visibility: hidden;
    }
    :nth-child(1) {
      transform: rotate(45deg);
    }
    :nth-child(2) {
      transform: rotate(-45deg);
    }
  }
  .checkbox:hover input ~ .checkMark {
    span {
      visibility: visible;
      background-color: grey;
    }
  }
  .checkbox input:checked ~ .checkMark {
    span {
      visibility: visible;
      background-color: $fontColor;
    }
  }
  p {
    color: $fontColor;
  }
  .rodoPolicy {
    margin: 0.5rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: $logoBackground;
    cursor: pointer;
  }
}
