@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';

.textareaConteiner {
  .textreaContent {
    width: 51rem;
    height: 3rem;
    // margin-top: 0.3rem;
    padding: 0.5rem 0 0 1rem;
    background-color: transparent;
    border: 1px solid $fontColor;
    color: $fontColor;
    font-size: 0.9rem;
    // line-height: 2.5rem;
    &::placeholder {
      text-align: center;
      color: $fontColor;
      text-transform: uppercase;
      font-family: $fontBase;
      padding-top: 0.6rem;
    }
  }
}
