.financialConsultingContainer {
  background-color: darksalmon;
  width: 100%;
  height: 100rem;
  #instructions {
    position: absolute;
    color: #fff;
    bottom: 0;
    padding-bottom: 6px;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
}
