@import '../../scss/settings/mixins';
@import '../../scss/settings/fonts';

.homeContainer {
  width: 100%;
  height: 52rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .section {
    width: 25%;
    height: 100%;
    position: relative;
    background-color: green;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .textSetion {
      width: 100%;
      position: absolute;
      top: 0;
      height: 100%;
      .letterHolder {
        width: 30rem;
        height: 23rem;
        left: 13rem;
        position: absolute;
        top: 28rem;
        background-size: contain;
        background-repeat: no-repeat;
        animation-fill-mode: forwards;
      }
      .firstA {
        background-image: url('../../assets/mLetterG.svg');
        left: 11rem;
      }
      .firstB {
        background-image: url('../../assets/mLetter.svg');
        left: 11rem;
        opacity: 0;
      }
      .secondA {
        background-image: url('../../assets/pLetterG.svg');
      }
      .secondB {
        background-image: url('../../assets/pLetter.svg');
        opacity: 0;
      }
      .thirdA {
        background-image: url('../../assets/rLetterG.svg');
      }
      .thirdB {
        background-image: url('../../assets/rLetter.svg');
        opacity: 0;
      }
      .forthA {
        display: none;
      }
      .forthB {
        display: none;
      }
    }
    &:hover {
      .textSetion {
        .firstA,
        & .secondA,
        & .thirdA {
          animation: greyLetterUp 2s forwards;
        }
        .firstB,
        & .secondB,
        & .thirdB {
          animation: goldLetterUp 2s forwards;
          z-index: 2;
        }
      }
      @keyframes greyLetterUp {
        0% {
          top: 28rem;
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          top: 2rem;
          opacity: 0;
        }
      }
      @keyframes goldLetterUp {
        0% {
          top: 28rem;
          opacity: 0;
        }
        100% {
          top: 2rem;
          opacity: 1;
        }
      }
    }
  }
}
