@import '../../scss/settings/mixins';
@import '../../scss/settings/fonts';

.homeContainer {
  width: 100%;
  height: 52rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .mainSection {
    width: 25%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 3;
    }
    .letterSection {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      .letterHolder {
        width: 23rem;
        height: 23rem;
        position: absolute;
        left: 13rem;
        top: 28rem;
        background-size: contain;
        background-repeat: no-repeat;
        animation-fill-mode: forwards;
      }
      .firstA {
        background-image: url('../../assets/mLetterG.svg');
        left: 11rem;
        width: 29rem;
      }
      .firstB {
        background-image: url('../../assets/mLetter.svg');
        left: 11rem;
        opacity: 0;
        width: 29rem;
      }
      .secondA {
        background-image: url('../../assets/pLetterG.svg');
      }
      .secondB {
        background-image: url('../../assets/pLetter.svg');
        opacity: 0;
      }
      .thirdA {
        background-image: url('../../assets/rLetterG.svg');
      }
      .thirdB {
        background-image: url('../../assets/rLetter.svg');
        opacity: 0;
      }
      .forthA {
        background-image: url('../../assets/groupTextG.svg');
        left: 5rem;
        width: 20rem;
        height: 6rem;
        top: 45rem;
      }
      .forthB {
        background-image: url('../../assets/groupText.svg');
        left: 5rem;
        width: 20rem;
        height: 6rem;
        opacity: 0;
      }
    }
    .textSection {
      width: 80%;
      height: 0;
      position: absolute;
      color: white;
      top: 55%;
      left: 10%;
      opacity: 0;
      text-align: center;
      font-size: 1.2rem;
    }
    .btnSection {
      position: absolute;
      top: 80%;
      left: 30%;
      opacity: 0;
    }
    &:hover {
      .btnSection,
      & .textSection {
        animation: animationButton 1s forwards;
        animation-delay: 0.5s;
      }
      .letterSection {
        .firstA,
        & .secondA,
        & .thirdA {
          animation: greyLetterUp 1.5s forwards;
        }
        .forthA {
          animation: greyGroup 1.5s forwards;
        }
        .firstB,
        & .secondB,
        & .thirdB {
          animation: goldLetterUp 1.5s forwards;
          z-index: 2;
        }
        .forthB {
          animation: goldGroup 1.5s forwards;
          z-index: 2;
        }
      }
      @keyframes greyLetterUp {
        0% {
          top: 28rem;
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          top: 2rem;
          opacity: 0;
        }
      }
      @keyframes goldLetterUp {
        0% {
          top: 28rem;
          opacity: 0;
        }
        100% {
          top: 2rem;
          opacity: 1;
        }
      }
      @keyframes animationButton {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes greyGroup {
        0% {
          top: 45rem;
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          top: 20rem;
          opacity: 0;
        }
      }
      @keyframes goldGroup {
        0% {
          top: 45rem;
          opacity: 0;
        }
        100% {
          top: 20rem;
          opacity: 1;
        }
      }
    }
  }
}
