@import '../../scss/settings/colors';
.contact-container {
  width: 100%;
  height: 55rem;
  background-image: url('../../assets/contacBackground.jpg');
  background-repeat: no-repeat;
  background-size: contain, cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  .form-section {
    margin-right: 13.5%;
    margin-top: 18%;
  }
}
