@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.bm-burger-button {
  width: 2rem;
  height: 1.8rem;
  position: fixed;
  right: 0.6rem;
  top: 0.7rem;
  overflow: hidden;
  span {
    background-color: $decorationColor;
    height: 0.1rem !important;
    overflow: hidden;
  }
}
.bm-burger-button:hover {
  span {
    background-color: $hoverColor;
  }
}
.bm-cross-button {
  width: 3rem !important;
  height: 2rem !important;
  right: 0.1rem !important;
  top: 0.05 !important;
}
.bm-cross {
  background-color: $decorationColor;
  width: 2.2rem !important;
  right: -0.7rem !important;
  top: 0.5rem;
  height: 0.1rem !important;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
.bm-menu {
  background: black;
  padding: 2.5em 1.5em 0;
  overflow: hidden !important;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-transform: uppercase;
}
.bm-item {
  display: inline-block;
  text-align: right;
  font-size: 1.6rem;
  margin-top: 3rem;
  text-decoration: none;
  color: $fontColor;
  &:focus {
    outline: 0;
  }
  &:hover {
    // @include goldHover();
    color: $hoverColor;
    text-decoration: none;
  }
}
.bm-overlay {
  background: rgba(50, 89, 62, 0.8);
  cursor: url('../../assets/tap.png'), auto;
}
.division-list {
  width: 15rem;
  height: 15rem;
  position: absolute;
  right: 50%;
  bottom: 50%;
  background-color: black;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: start;
  list-style: none;
  a {
    text-decoration: none;
    color: $fontColor;
    padding-left: 1rem;
    text-transform: capitalize;
    &:hover {
      color: $hoverColor;
      text-decoration: none;
    }
  }
}
