@import '../../scss/settings/colors';
// @import '../../scss/settings/font';

.bm-burger-button {
  width: 2rem;
  height: 1.8rem;
  position: fixed;
  right: 0.6rem;
  top: 0.7rem;
  overflow: hidden;
  z-index: 10001;
  span {
    background-color: $decorationColor;
    height: 0.1rem !important;
    overflow: hidden;
  }
}

.bm-burger-button:hover {
  span {
    background-color: gold;
  }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 3rem !important;
  height: 2rem !important;
  right: 0.1rem !important;
  top: 0.05 !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background-color: $decorationColor;
  width: 2.2rem !important;
  right: -0.7rem !important;
  top: 0.5rem;
  height: 0.1rem !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $sideBarColor;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  color: $fontColor;
  &:focus {
    outline: 0;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(50, 89, 62, 0.8);
}
