@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.testimonial-container {
  width: 100%;
  height: 56rem;
  background-image: url('../../assets/testimonialBg.jpg');
  background-size: 110%;
  background-repeat: no-repeat;
  .numbers-content {
    width: 100%;
    padding-top: 5%;
    color: black;
    .numbers-holder {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 2rem;
      align-items: center;
      .number {
        flex: 1;
        justify-self: flex-end;
        display: flex;
        justify-content: flex-end;
      }
      .text {
        display: flex;
        flex: 2;
        align-items: center;
        margin-left: 2rem;
        font-size: 2rem;
      }
    }
  }
}

@include tabletMax {
  .testimonial-container {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    .numbers-content {
      padding-top: 0;
      .numbers-holder {
        .text {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include mobile {
  .testimonial-container {
    .numbers-content {
      padding-top: 0;
      .numbers-holder {
        .text {
          font-size: 1rem;
        }
      }
    }
  }
}
