@import 'scss/reset';
@import './scss/settings/font';
@import './scss/settings/colors';

body {
  #root {
    max-width: 190rem;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $fontBase;
    background-color: $greenBase;
  }
}
