@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.img-holder {
  width: 100%;
  height: 56rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transform: scaleX(-1);
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    -webkit-transition: all 6s;
    -moz-transition: all 6s;
    -o-transition: all 6s;
    transition: all 6s;
    animation: zoomin 6s linear;
    animation-fill-mode: forwards;
  }

  @keyframes zoomin {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.carousel-caption {
  .text-holder {
    height: 20rem;
    position: absolute;
    top: -20rem;
    left: 0;
    width: 40rem;
    animation: moveUp 3s forwards;
    font-size: 1.6rem;
  }
  .top-btn {
    width: 100%;
    height: 6rem;

    .btn-container {
      height: 4rem;
    }
    .logo-holder {
      padding-bottom: 5rem;
      img {
        width: 20rem;
        height: 10rem;
      }
    }
  }
}

@keyframes moveUp {
  0% {
    top: -20rem;
  }
  100% {
    top: -35rem;
  }
}
